<div fxFlex fxLayout="column">
  <p>
    <mat-toolbar>
      <span class="title-center">Number Game</span>
    </mat-toolbar>
  </p>
  <div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px">
    <div fxFlex="70%" class="card-container">
      <mat-card *ngFor="let player of playerList" ngClass="example-card">
        <div>
          <div fxFlex="100%" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
            <div fxFlex="50%" fxLayout="row">
              <div mat-card-avatar class="example-header-image"></div>
              <div class="player-details"  fxFlex fxLayout="column">
                <mat-card-title ngClass="player-name" [ngClass.xs]="{'player-name-sm':true,'player-name':false}" >{{player.name | slice:0:10}}{{ player.name.length > 10 ? "...": ""}}</mat-card-title>
                <mat-card-subtitle  fxHide="true" fxShow.gt-xs style="margin-bottom: 5px;">Upper: {{player.upper}} - Lower: {{player.lower}}
                </mat-card-subtitle>
                <mat-card-subtitle  fxHide="true" fxShow.lt-xs [ngClass.xs]="{'card-sm':true}" style="margin-bottom: 5px;">U: {{player.upper}} L: {{player.lower}}
                </mat-card-subtitle>
              </div>
            </div>
            <h1 fxFlex="30%" ngClass="score" [ngClass.xs]="{'score':false,'score-sm':true}"><span>Score  :  </span>{{player.score}}</h1>
            <div fxFlex="20%">
              <h2 class="winner" *ngIf="player.winner" [ngClass.xs]="{'winner-sm':true}">winner</h2>
            </div>
          </div>
        </div>
      </mat-card>
      <div *ngIf="showWinner" ngClass="show-winner" [ngClass.xs]="{'show-winner':false,'show-winner-sm':true}">
        <img src="https://i.gifer.com/ZUiY.gif" alt="Winner!!!!" ngClass="show-winner-gif" [ngClass.xs]="{'show-winner-gif':false,'show-winner-gif-sm':true}">
        <h1>The Winner !</h1>
        <h1 style="font-size: 2rem;color:#F78400">{{winner | slice:0:20}}{{winner.length > 20 ? "...": ""}}</h1>
      </div>
      <h1 *ngIf="gameReset" class="no-player-msg">Game Resetting ...</h1>
      <div class="show-count" *ngIf="showCount">
        <h1 fxHide="true" fxShow.gt-xs style="font-size: 5em;margin-top: 30px;">{{count}}</h1>
        <h4 fxHide="true" fxShow.lt-sm style="font-size: 2em;margin-top: 20px;">{{count}}</h4>
      </div>
      <div *ngIf="severErr" style="text-align: center;margin-top:100px">
        <h1>Oops! Something went wrong </h1>
      </div>
      <div *ngIf="joinGameToStart" style="text-align: center;margin-top:100px">
        <h1>Join Game</h1>
      </div>
    </div>
    <div fxFlex="30%" class="input-container">
      <form fxFlex="100%" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px" #contactForm="ngForm"
        (ngSubmit)="submit(contactForm.value);contactForm.resetForm()">
        <mat-form-field  appearance="outline">
          <mat-label>Player Name</mat-label>
          <input required ngModel name="playerName" type="text" #playerName="ngModel" matInput
            placeholder="Player Name">
          <mat-error class="errMsg" *ngIf="playerName.invalid">{{"Player Name is required"}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>First Number</mat-label>
          <mat-select required ngModel name="firstNumber" type="text" #firstNumber="ngModel">
            <mat-option *ngFor="let number of numbers" [value]="number.value">
              {{number.value}}
            </mat-option>
          </mat-select>
          <mat-error class="errMsg" *ngIf="firstNumber.invalid">{{"First Number is required"}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Second Number</mat-label>
          <mat-select required ngModel name="secondNumber" type="text" #secondNumber="ngModel">
            <mat-option *ngFor="let number of numbers" [value]="number.value">
              {{number.value}}
            </mat-option>
          </mat-select>
          <mat-error class="errMsg" *ngIf="secondNumber.invalid">{{"Second Number is required"}}</mat-error>
        </mat-form-field>
        <button class="mat-color-change-btn" [disabled]="!contactForm.valid" type="submit" mat-raised-button color="primary">Join Game</button>
        <div *ngIf="showGameInProgress" class="game-progress">
          <h2 style="display:inline-block">Games In Progress <span>
              <mat-progress-bar mode="buffer"></mat-progress-bar>
            </span></h2>
        </div>
      </form>
    </div>
  </div>
</div>
