.title-center {
  margin: 0 auto;
}

.container {
  width: 80vw;
  height: 88vh;
  margin: 0 auto;
}

.card-container {
  height: 98.4%;
  overflow: auto;
  padding: 10px;
  margin-bottom: 20px;
  //  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 255, 234, 0.2);
  transition: 0.3s;
}

.example-card {
  height: 60px;
  margin-bottom: 10px;
  background-color: #00e5b7;
  color: #ffffff;
}

.example-header-image {
  background-image: url("https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50");
  // background-image:url("https://robohash.org/buddhika");
  background-size: cover;
  width: 50px;
  height: 50px;
}

.input-container {
  width: 80%;
  height: 500px;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 5px;
}

.errMsg {
  font-size: 1.2em;
  color: rgb(255, 153, 0);
}

.mat-toolbar {
  background: #0f313f;
  color: #fff;
}

.no-player-msg {
  margin: auto 0;
  text-align: center;
}

mat-progress-bar .mat-progress-bar-buffer {
  background: #88c4f1;
}

.game-progress {
  margin-top: 50px;
}

.score {
  text-align: start;
  margin-top: 12px;
  padding-right: 20px;
}

.score-sm {
  font-size: 1.1em;
  text-align: start;
  margin-bottom: 0px;
}

.winner {
  text-align: end;
  margin-top: 12px;
}

.winner-sm {
  font-size: 1rem;
}

.player-details {
  margin-left: 20px;
  margin-top: 0px;
  width: 100%;
}

.player-name {
  margin-bottom: 10px;
  width: 100%;
}

.player-name-sm {
  margin-bottom: 0px;
  margin-top: 15px;
  font-size: 1em;
}

.show-winner {
  text-align: center;
  margin-bottom: 20px;
}
.show-winner-sm {
  margin-bottom: 10px;
  text-align: center;
}

.show-winner-gif {
  width: 150px;
  height: 180px;
}

.show-winner-gif-sm {
  width: 75px;
  height: 90px;
}

.show-count {
  text-align: center;
}

.mat-color-change-btn {
  background-color: rgb(73, 180, 159);
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #00f8b9;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00f8b9;
}

//input outline color
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgb(0, 248, 185) !important;
  opacity: 1 !important;
  //border:5px solid blue;
}

//mat-input focused color
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: rgb(0, 248, 185) !important;
}

// mat-input error outline color
::ng-deep
  .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
  .mat-form-field-outline-thick {
  color: rgb(255, 153, 0) !important;
  opacity: 0.8 !important;
}

// mat-input carent color
::ng-deep .mat-input-element {
  caret-color: rgb(0, 248, 185)!important;
}

// mat-input error carent color
::ng-deep .mat-form-field-invalid .mat-input-element,
.mat-warn .mat-input-element {
  caret-color: rgb(255, 153, 0) !important;
}

// mat-label normal state style
::ng-deep .mat-form-field-label {
  color: rgba(5, 49, 63, 0.6) !important;
  // color: $mainColor!important;
}

// mat-label focused style
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: rgb(5, 49, 63) !important;
}

// mat-label error style
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: rgb(5, 49, 63) !important;
}
