<div fxFlex fxLayout="column">
  <p>
    <mat-toolbar>
      <span class="title-center">Number Game</span>
    </mat-toolbar>
    <!-- <mat-progress-bar mode="indeterminate">waiting</mat-progress-bar> -->
    <!-- <mat-progress-bar *ngIf="gameStartedProgressbar" mode="buffer"></mat-progress-bar> -->
  </p>
  <div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px">
    <div fxFlex="70%" class="card-container">
      <mat-card *ngFor="let player of playerList" class="example-card">
        <mat-card-header>
          <div fxFlex fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
            <div fxFlex fxLayout="row">
              <div mat-card-avatar class="example-header-image"></div>
              <div style="margin-left: 20px;margin-top:0px" fxFlex fxLayout="column">
                <mat-card-title>{{player.name}}</mat-card-title>
                <mat-card-subtitle>Score: {{player.score}}</mat-card-subtitle>
              </div>
            </div>
            <div *ngIf = "player.winner">
              <h2>winner</h2>
            </div>
            <div *ngIf = "!player.winner">
              <!-- <h2 style="color:red">winner</h2> -->
            </div>
          </div>
        </mat-card-header>
        <!-- <mat-card-content>
          <div fxFlex fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
            <div mat-card-avatar class="example-header-image"></div>
            <h2 style="padding:0px; margin:0px">there</h2>
            <h2>there</h2>
          </div>
        </mat-card-content> -->
      </mat-card>
      <!-- <h1 *ngIf="playerList.length == 0" class="no-player-msg"> No Players Online </h1> -->
      <div *ngIf="showWinner" style="text-align: center;margin-bottom: 20px;">
        <img src="https://i.gifer.com/ZUiY.gif" alt="Winner!!!!" width="150" height="180">
        <h1>The Winner !</h1>
        <h1 style="font-size: 2rem;color:#F78400">{{winner}}</h1>
        <!-- <img src="https://i.gifer.com/8i79.gif" alt="Girl in a jacket" width="100" height="120"> -->
      </div>
      <h1 *ngIf="gameReset" class="no-player-msg">Game Resetting ...</h1>
      <div style="text-align: center;" *ngIf="showCount">
        <h1 style="font-size: 5em;margin-top: 30px;">{{count}}</h1>
      </div>
      <div *ngIf="severErr" style="text-align: center;margin-top:100px">
        <h1>"Oops! Something went wrong." </h1>
      </div>
    </div>
    <div fxFlex="30%" class="input-container">
      <form fxFlex="100%" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px" #contactForm="ngForm"
        (ngSubmit)="submit(contactForm.value)">
        <mat-form-field appearance="outline">
          <mat-label>Player Name</mat-label>
          <input required ngModel name="playerName" type="text" #playerName="ngModel" matInput
            placeholder="Player Name">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>First Number</mat-label>
          <mat-select required ngModel name="firstNumber" type="text" #firstNumber="ngModel">
            <mat-option *ngFor="let number of numbers" [value]="number.value">
              {{number.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Second Number</mat-label>
          <mat-select required ngModel name="secondNumber" type="text" #secondNumber="ngModel">
            <mat-option *ngFor="let number of numbers" [value]="number.value">
              {{number.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button [disabled]="!contactForm.valid" type="submit" mat-raised-button color="primary">Join Game</button>
      </form>
    </div>
  </div>
</div>
